app = 'vr-stream'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

  [build.args]
    STREAMPASS = 'vrc-fly' # CHANGE THIS!!!

[deploy]
  strategy = 'immediate'

[[services]]
  protocol = 'tcp'
  internal_port = 554

[[services.ports]]
    port = 554

[[services]]
  protocol = 'tcp'
  internal_port = 1935

[[services.ports]]
    port = 1935

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpus = 1
